.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  line-height: 1.2;
  padding: $input-spacing;
  text-transform: uppercase;
  font-size: $base-font-size;
  margin-bottom: $space;
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--link-text {
  background: none;
  border: none;
  color: white;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  text-transform: none;
}
.button--pill {
  background-color: transparent;
  border: 1px solid $orange;
  color: $orange;
  padding: .4rem .8rem;
  margin-right: 0.8rem;
  transition: background-color 1s;
}

.button--pill--hasBeenClicked {
  background-color: $orange;
  color: $button-color;
  transition: background-color 1s;
}

.button--secondary {
  background-color: $button-secondary-bg;
  border: 1px solid $button-secondary-border-color;
  color: $button-secondary-color;
}
